<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать вопрос</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/questions/{id}(id=${question.getId()})}" th:object="${question}">
    <label for="questionText">Введите вопрос: </label>
    <input type="text" th:field="*{questionText}" id="questionText"/>
    <div style="color:red" th:if="${#fields.hasErrors('questionText')}" th:errors="*{questionText}">Text Error</div>
    <br/>
    <input type="submit" value="Редактировать вопрос"/>
</form>

</body>
</html>
